html {
  scroll-behavior: smooth;
}


*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/about.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul{
    float: right;
    list-style: none;
    display: flex;
    margin-top: 30px;
    margin-right: 60px;
}

ul li{
    display: ininline-block;
}

ul li a{
   text-decoration: none;
   color: beige;
   padding: 5px 20px;
   border: 1px solid transparent;
   transition: 0.5s ease; 
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}7

ul li.active a{
background-color:#fff;
	color: #000;

}

#logo{
    float: left;
	   width: 85px;
    	height: 70px;
    	margin-top: 9px;
    	margin-left: 5em;
    	border-radius: 52em;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.sub-menu{
	display: none;
    top:-2%;
    position: relative;
}

.sub-menu ul{
	position: absolute;

}

.main ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,45,117);
	margin-top: 90px;
	margin-left: -10px;
}

.main ul li:hover .sub-menu ul 
{
	display: block;
	margin:6px;

}
.main ul li:hover .sub-menu ul li
{
	width: 75px;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: left;
	border-radius: 0;
	
}

.main ul li:hover .sub-menu ul li:last-child 
{
	border-bottom: none;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color:whitesmoke;
	font-size: 85px;
}

.title h4{
    color:red;
    font-style: italic;
}

.title p{
    color: skyblue;
    font-size: 18px;
}

.button{
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid black;
	padding: 5px 20px;
	color: blue;
	transition: 0.6s ease;
	font-size: 18px;
	text-decoration: none;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}
